/*обращение к классу: */
.main-text {
    color: rgb(18, 45, 102)
}

/*обращение по id: */
#text-in-p {
    color: rgb(116, 63, 151)
}

/*обращение в тэгам(вложеные селекторы выбора:
Через запятую можно обращаться к чему угодно */
div b, p {
    color: green
}