* {
    margin: 0;
    padding: 0;
}

/* .block {
    width: 200px;
    height: 200px;
    margin: 20px;
    background: blue;
}
/* Свойство float*/

/* #first {
    float: left;
}

#second {
    float: left;
    background: red;
} */

body {
    height: 2000px;
}

#some_block {
    background: red;
    color: #fff;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    position: fixed;
    left: 20px;
    top: 25px;

}

#header, #footer {
    width: 100%;
    height: 50px;
    text-align: center;
    border-bottom: 2px solid silver;
    background: #2e2c2c;
    color: #fff;
    line-height: 50px;/*line-height - расстояние между строками*/
    margin-bottom: 50px;
    float: left;
}

#main {
    width: 50%;
    margin-left: 10%;
    background: #0d9e9e;
    border: 1px solid rgb(32, 156, 86);
    padding:  20px 2.5%;
    float: left;
}

#aside {
    width: 20%;
    padding: 20px 2.5%;
    background: #fafafa;
    border: 1px solide grey;
    float: left;
    margin-left: 5%;
    position: relative;
    bottom: 10px;
    right: -50px;
}

#footer {
    margin-bottom: 0;
    margin-top: 50px;
    border-bottom: 0;
    border-top: 5px solid grey
}